## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [2]:
uk = 5+4*9%(3+1)/6-1
print(uk)

4.0

##

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [1]:
uk = int(input("Enter you'r number:"))
if uk %2==0:
    print("even")
else:
    print("odd")

Enter you'r number: 7

odd

##

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [1]:
n = int(input("Enter you'r number to display the multiplication table: "))
for u in range(1,11):
    print(f'{n}* {u} = {n * u}')

Enter you'r number to display the multiplication table:  2

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [2]:
multiplier = int(input("Enter the multiplier: ")) 
start = 1
end = int(input("Enter the range end: ")) 

while start <= end: 
    result = start * multiplier 
    print(f"{start} x {multiplier} = {result}") 
    start += 1

Enter the multiplier: 2
Enter the range end: 10
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

##

In [ ]:
Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [3]:
op =[]
for num in range(2000,3200):
    if num %7 ==0 | num %5 !=0:
        op.append(str(num))
print('all numbers between 2000 and 3200 which are divisible by 7 but are not a multiple of 5 :-\n')        
print(",".join(op))

all numbers between 2000 and 3200 which are divisible by 7 but are not a multiple of 5 :-

2031,2032,2033,2034,2066,2067,2068,2069,2101,2102,2103,2104,2136,2137,2138,2139,2171,2172,2173,2174,2206,2207,2208,2209,2241,2242,2243,2244,2276,2277,2278,2279,2311,2312,2313,2314,2346,2347,2348,2349,2381,2382,2383,2384,2416,2417,2418,2419,2451,2452,2453,2454,2486,2487,2488,2489,2521,2522,2523,2524,2556,2557,2558,2559,2591,2592,2593,2594,2626,2627,2628,2629,2661,2662,2663,2664,2696,2697,2698,2699,2731,2732,2733,2734,2766,2767,2768,2769,2801,2802,2803,2804,2836,2837,2838,2839,2871,2872,2873,2874,2906,2907,2908,2909,2941,2942,2943,2944,2976,2977,2978,2979,3011,3012,3013,3014,3046,3047,3048,3049,3081,3082,3083,3084,3116,3117,3118,3119,3151,3152,3153,3154,3186,3187,3188,3189

##

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [5]:
lst =  [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

int_c = 0
float_c = 0
str_c = 0
bool_c = 0
Nonetype_c = 0

for i in lst:
    if type(i) == int:
        int_c  += 1
    elif type(i) == float:
        float_c += 1
    elif type(i) == str:
        str_c += 1
    elif type(i) == bool:
        bool_c += 1
    else:
        Nonetype_c += 1

print("count of integer:", int_c)
print("count of float:", float_c)
print("count of string:", str_c)
print("count of bool:", bool_c)
print("count of nonetype:", Nonetype_c)

count of integer: 5
count of float: 1
count of string: 4
count of bool: 1
count of nonetype: 1

##

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [6]:
result = 0
for i in lst:
    if type(i)==int or type(i)==float:
        result += i
print("all the numberic number result after adding:-", result)

all the numberic number result after adding:- 21.5

### OR USING FUNCTION

In [8]:
def sum_of_list(input_list):
    result = 0
    for i in input_list:
        if type(i) == int or type(i) == float:
            result += i
    return result
sum_of_list(lst)

21.5

##

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [9]:
for i in lst:
    if type(i)==str:
        print(i,end='-')

Py-10-SQL-John-

##

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [100]:
def Sum_count(Input):
    Sum_num = 0
    count_str = 0
    for i in Input :
        if type(i) == int or type(i) == float :
            Sum_num += i
        elif type(i) == str:
            count_str += 1
    return {'Sum' : Sum_num, 'Count_0f_Strs': count_str}
Sum_count(lst)

{'Sum': 21.5, 'Count_0f_Strs': 4}

##

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

#### i. Use loops to get the answer

In [104]:

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
result = []
for i in li:
    if i %2 !=0:
        result.append(i)
result

[5, 7, 97, 77, 23, 73, 61]

####  ii. Use list comprehensions

In [110]:
uk = [i for i in li if i %2 !=0]
uk

[5, 7, 97, 77, 23, 73, 61]

####  iii. Use lambda function with filter

In [4]:
uk1 = list(filter(lambda num: num %2 !=0,li))
uk1

[5, 7, 97, 77, 23, 73, 61]

##

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [6]:
num = [1,2,3,4,5,6,7,8,9,10]

In [5]:
def descriptive(numbers):
    if not numbers:
        return {'sum': None, 'count': 0, 'min': None, 'mean': None, 'max': None}
   
    total_sum = sum(numbers)
    count = len(numbers)
    minimum = min(numbers)
    maximum = max(numbers)
    mean = total_sum / count
   
    return {'sum': total_sum, 'count': count, 'min': minimum, 'mean': mean, 'max': maximum}

In [7]:
descriptive(num)

{'sum': 55, 'count': 10, 'min': 1, 'mean': 5.5, 'max': 10}

##

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [8]:
def Calculate_Area(shape, **kwargs):
    if shape == "square":
        if 'side' in kwargs:
            return kwargs['side'] ** 2
        else:
            return "Please enter 'side' for a square"
    elif shape == "rectangle":
        if 'length' in kwargs and 'width' in kwargs:
            return kwargs['length'] * kwargs['width']
        else:
            return "Please enter both 'length' and 'width' for a rectangle"
    elif shape == "circle":
        if 'radius' in kwargs:
            return (22/7) * kwargs['radius'] ** 2
        else:
            return "Please enter 'radius' for a circle"
    else:
        return "Invalid shape input"

In [16]:
Calculate_Area('square',side = 4)

16

In [17]:
Calculate_Area('rectangle', length=4, width=6)

24

In [18]:
Calculate_Area('circle', radius=3)

28.285714285714285

In [19]:
Calculate_Area('triangle', base=5)

'Invalid shape input'

##

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [30]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']
result_set = {l for l  in l1 if l in l2 }
print('Matched:',result_set)
result_set = {l for l in l1 if l not in l2}
print('Only in l1:',result_set)
result_set = {l for l in l2 if l not in l1}
print('Only in l2:',result_set)

Matched: {'January', 'June', 'December', 'February'}
Only in l1: {'March', 'May', 'September'}
Only in l2: {'October', 'April'}

In [41]:
def func(l1,l2):
    result = {
        'matched' : list(set(l1).intersection(set(l2))),
        'Only in l1' : list(set(l1).difference(set(l2))),
        'Only in l2' : list(set(l2).difference(set(l1)))}
    return (result)
func(l1,l2)

{'matched': ['January', 'June', 'December', 'February'],
 'Only in l1': ['March', 'May', 'September'],
 'Only in l2': ['October', 'April']}

##

Q13: write a UDF to check if a number is prime or not.

In [40]:
def is_prime(number):
    if number <= 1:
        return False
    elif number == 2:
        return True
    elif number % 2 == 0:
        return ('not a prime number')
    else:
        for i in range(3, int(number ** 0.5) + 1, 2):
            if number % i == 0:
                return ('not a prime number')
        return ('prime number')

In [39]:
is_prime(7)

'prime number'

##

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [57]:
numbers = input("Enter numbers separated by commas: ").split(',')
factorials = []
for num in numbers:
    num = int(num.strip())
    result = 1
    for i in range(1, num + 1):
        result *= i
    factorials.append(result)
print("factorials",factorials)

Enter numbers separated by commas: 2,5,8
factorials [2, 120, 40320]

##

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [75]:
ui = int(input("Enter your number to create a dictionary :  "))
result = dict()
for i in range(1, ui+1):
    result[i] = i * i
print(result)

Enter your number to create a dictionary :  8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

##

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [97]:
ui  = input("Enter your number in a comm-separated manner :    ")
ui = ui.split(",")
print('list:   ',list(ui))
print('tuple:  ',tuple(ui))

Enter your number in a comm-separated manner :    12,23,34,45,56,67,78,89,90
list:    ['12', '23', '34', '45', '56', '67', '78', '89', '90']
tuple:   ('12', '23', '34', '45', '56', '67', '78', '89', '90')

##

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [114]:
ui = input("Enter your word's in a comm-separated manner  :  ").split(",")
sort_ui =','.join(sorted(ui))
print("word's in alphabetically manner : ",(sort_ui))

Enter your word's in a comm-separated manner  :  without,hello,bag,world
word's in alphabetically manner :  bag,hello,without,world

##

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [113]:
ui = input("Enter your word's in a whitespace separated manner  :  ").split( )
sort_ui =' '.join(sorted(set(ui)))
print("word's in alphabetically manner and sorted : ",(sort_ui))

Enter your word's in a whitespace separated manner  :   hello world and practice makes perfect and hello world again
word's in alphabetically manner and sorted :  again and hello makes perfect practice world

##

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [131]:
ui = input("Enter your sentence to calculate the number of upper case letters and lower case letters   :   ")
upper_count = 0
lower_count = 0
for char in ui:
    if char.isupper():
        upper_count += 1
    elif char.islower():
        lower_count += 1           
print(f"UPPER CASE:{upper_count} LOWER CASE:{lower_count}")

Enter your sentence to calculate the number of upper case letters and lower case letters   :   Hello world!
UPPER CASE:1 LOWER CASE:9

##

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [135]:
ui = input("Enter you'r string to reverse it!  : ")
print(f"reversed string:{ui[:: -1]}")

Enter you'r string to reverse it!  : abcd123
reversed string:321dcba